button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

button:hover{
    cursor: pointer;
}

.wrapper{
    background-image: linear-gradient(to right, rgb(89, 61, 126) , rgb(49, 49, 45));
    border-radius: 1em;
    padding: 1em;
}

.orange{
    background-color: #dd8740;
    color: white
}

.gray{
    background-color: #505050;
    color: white;
}
.result{
    color: rgb(219, 28, 69);
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    font-size:3.5em;
}

.img{
    border-radius: 2em;
    border-style: dotted;
    border-color: white;
}